html
    head
        title Pug Templating
        meta(name='viewport' content='width=device-width, initial-scale=1')
        //- inject:css
        link(rel="stylesheet", href="/css/deps.css")
        //- endinject
    body
        block content
        block scripts
            //- inject:js
            script(src="/js/deps.js")
            //- endinject
