<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Location</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/deps.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/views/01_mover/css/mover.css">
</head>
<body>
<main class="">
    <div id="move" class="bg-navy w5-ns h5 ml2-l t-disp br-100">
        <span class="paleOrange tc v-mid tcell-disp va-center">Move me</span>
    </div>
</main>
<!-- inject:js -->
<script src="/js/deps.js"></script>
<!-- endinject -->
<script src="/views/01_mover/js/mover.js"></script>
</body>
</html>
